.thing-form {
    margin: 20px 0;
}

body {
  overflow: hidden;
}


.navbar-text {
  margin-left: 15px;
}

.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0px;
}

.angular-google-map-container {
  height: 650px;
  @media screen and (min-height: 650px) {
    height: 800px;
  }
}
