div(ng-include='"components/navbar/navbar.html"')

.map-container(style="height: 100%;")
  ui-gmap-google-map(center='map.center' zoom='map.zoom' pan='map.pan')
    ui-gmap-markers( models="markers" coords="'coords'" icon="'options.icon'" options="options" click="onClick")
      ui-gmap-window( coords="clicked.coords" show="clicked.show")
        div
          h6 {{clicked.title}}
          p {{clicked.description}}
          p {{clicked.artist}}
